<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
</head>
<body>
      <h1>Events|Edit</h1>
      
<main>
<h2>Event Details</h2>
<form action="/events/<%= Events._id%>?_method=PUT" method="POST">
Date: <input type="text" name="date" placeholder="MM/DD/YYYY" value="<%= Events.date %>">
Location: <input type="text" name="location" placeholder="City,State/Country" value="<%=Events.location%>">
<input type="submit" value="Update Event">

</form>

</main>
</body>
</html>