<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create Event</title>
      <link rel="stylesheet" href="/styles.css">
      <style>
            body{ 
                  background-image: url('https://i.imgur.com/tUM2z4C.jpg');
                  background-repeat: no-repeat;
                  background-attachment: fixed;
                  background-size: 100% 100%;
            }
      </style>
</head>

<body>

      <header style="padding-top: 150px;">
      <h1 class="createHeader">Create Event!</h1>
      <h4 style="text-align: center;"><a  href="/dashboard">Back to events</a></h4>

</header>

<main>
      <form class="createForm" action="/events" method="POST">
Name: <input type="text" class="createItem" name="name" placeholder="Event Name">
 Date: <input type="text" class="createItem" name="date" placeholder="MM/DD/YYYY">
 City: <input type="text" class="createItem" name="city" placeholder="City,State/Country">
 Venue: <input type="text" class="createItem" name="venue" placeholder="AT&T Center">
 Price: <input type="text" class="createItem" name="price" placeholder="$ - $$$$$">
 Website: <input type="text" class="createItem" name="website" placeholder="https://example.com">
 <input type="submit" value="Add Event">
      </form>
</main>
</body>
</html>