<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create Event</title>
      <link rel="stylesheet" href="/styles.css">
</head>
<nav>
      <ul>
            <ol>
                  <a href="/dashboard">Back to main list.</a>
            </ol>
      </ul>
</nav>
<body>
      <header>
      <h1 class="createHeader">Create Event!</h1>

</header>

<main>
      <form class="createForm" action="/events" method="POST">
Name: <input type="text" class="createItem" name="name" placeholder="Event Name">
 Date: <input type="text" class="createItem" name="date" placeholder="MM/DD/YYYY">
 City: <input type="text" class="createItem" name="city" placeholder="City,State/Country">
 Venue: <input type="text" class="createItem" name="venue" placeholder="AT&T Center">
 Price: <input type="text" class="createItem" name="price" placeholder="$ - $$$$$">
 <input type="submit" value="Add Event">
      </form>
</main>
</body>
</html>