<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Create Event</title>
</head>
<body>
      <header>
      <h1>Create Event!</h1>
<nav>
      <ul>
            <li>
                  <a href="/">Back to main list.</a>
            </li>
      </ul>
</nav>
</header>

<main>
      <form action="/home" method="POST">
 Date: <input type="text" name="date" placeholder="MM/DD/YYYY">
 Location: <input type="text" name="location" placeholder="City,State/Country">
 <input type="submit" value="Add Event">
      </form>
</main>
</body>
</html>