<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles.css">
</head>
<body>
<a href="/events/<%= Events._id%>/edit">Edit</a>
<h1><%= Events.date%></h1>
<h1><%= Events.location%> </h1>

      
</body>
</html>