<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles.css">
      <style>
            body  { 
            background: rbg(34,193,195);
            background: linear-gradient(0deg, rgb(34,193,195,1) 0%, rgba(249,217,244,1) 100%)
            }
      </style>
</head>
<body>
      <%- include('../partials/nav.ejs') %>
      <br>
      <form style="padding-bottom: 50px; text-align: center;" action="/gallery" method="POST">
            <input type="text" class="createItem" name="img" placeholder="Image Link">
      <input type="submit" value="Add Image">
</form>
<div class="imagesDiv">

<% for(let i = 0; i < Gallery.length; i++) {%>
      <img class="galleryImages" src="<%= Gallery[i].img %>" alt="">
<% } %>
</div>
</body>
</html>