<nav id="nav-bar">
      <a style="border-right: 2px black solid; padding-right: 4px;" href="/gallery">Gallery</a>
      <a style="border-right: 2px black solid; padding-right: 4px;" href="/dashboard">Events</a>
      <a href="/events/newevent">Create an Event</a>
</nav>