<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="/styles.css">
      <style>
            body{ 
                  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(159,218,236,1) 67%, rgba(0,212,255,1) 100%)
            }
      </style>
</head>
<body>
      <h1 class="registerHeader">Register</h1>

      <form class="regForm" action="/users" method="POST">

<label for="email">Email:</label>
<input type="email" name="email" id="email"/>

<label for="password">Password:</label>
<input type="password" name="password" id="password"/>



<input type="submit" value="Register">



      </form>
</div>
</body>
</html>